# Image formats
*.psd 
*.jpg 
*.png 
*.gif 
*.bmp 
*.tga 
*.tiff 
*.tif 
*.iff 
*.pict 
*.dds 

# Audio formats
*.mp3 
*.ogg 
*.wav 
*.aiff 
*.aif 
*.mod 
*.it 
*.s3m 
*.xm 

# Video formats
*.mov 
*.avi 
*.asf 
*.mpg 
*.mpeg 
*.mp4 

# 3D formats
*.fbx 
*.obj 
*.max 
*.blend 
*.dae 
*.mb 
*.ma 
*.3ds 
*.dfx 
*.c4d 
*.lwo 
*.lwo2 
*.abc 
*.3dm 

# Build
*.dll 
*.pdb 
*.mdb 

# Packaging
*.zip 
*.7z 
*.gz 
*.rar 
*.tar 